<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingSodimac" />
      </basicHttpBinding>
    </bindings>

    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>

    <services>
      <service behaviorConfiguration="Sodimac.VentaEmpresa.ServiceImplementation.ServicioSeguridad_Behavior"
        name="Sodimac.VentaEmpresa.ServiceImplementation.ServicioSeguridad">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingSodimac"
          name="EndpointServicioSeguridad" bindingNamespace="http://Sodimac.VentaEmpresa.Model/2013/SCSodimacVentaEmpresaSeguridad/ServicioSeguridad/"
          contract="Sodimac.VentaEmpresa.ServiceContracts.IServicioSeguridadSoap" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="Sodimac.VentaEmpresa.ServiceImplementation.ServicioSeguridad_Behavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <connectionStrings>
    <add name="cnSodimacSeguridad" connectionString="Data Source=115.1.10.28;Initial Catalog=BD_SodimacSeguridad_Prod;User ID=userple;password=123" providerName="System.Data.SqlClient" />
    <!--<add name="cnSodimacSeguridad" connectionString="Data Source=everest;Initial Catalog=BD_SodimacSeguridad;User ID=ucxVentaEmpresa;password=CnxVent43mpr" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.414.0" newVersion="5.0.414.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
